body {
	background: #cccccc;
}
#make {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff, #bbbbbb);
	background: -webkit-linear-gradient(top, #ffffff, #bbbbbb);
	border: 1px solid black;
	-moz-border-radius: 1px;
	padding: 10px;
	width: 180px;
	margin: 5px;
	text-align: center;
	display: inline-block;
}
#make:hover {
	cursor: pointer;
}
#info {
	padding: 10px;
	margin: 5px;
	display: inline-block;
}
.colorpicker {
	border: 1px black solid;
	padding: 10px;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
}
.active {
	font-weight: bold;
	border: 2px black solid;
}
.yellow {
	background: #fff787;
	background: -webkit-linear-gradient(top,#fff787,#dfd767);
}
.blue {
	background: #9CF3FF;
	background: -webkit-linear-gradient(top,#9cf3ff,#7cd3df);
}
.green {
	background: #9CFFA9;
	background: -webkit-linear-gradient(top,#9cffa9,#7cdf89);
}
.pink {
	background: #FABBF2;
	background: -webkit-linear-gradient(top,#fabbf2,#da9bd2);
}
#remove {
	background: -webkit-linear-gradient(top,#ffffff,#cccccc);
	color: red;
	font-weight: bold;
	border: 1px black solid;
	position: fixed;
	top: 5px;
	right: 5px;
	width: 250px;
	padding: 10px;
	margin: 5px;
	line-height: 250px;
	text-align: center;
}
