.note {
<<<<<<< HEAD
	background: #fff787;
=======
>>>>>>> master
	border: solid 1px black;
	word-wrap: normal; 
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5); 
	padding: 10px;
	width: 200px;
	height: 200px;
	position: absolute;
}
.title {
	margin-bottom: 5px;
	cursor: pointer;
	border-bottom: 1px solid #000066;
<<<<<<< HEAD
}
textarea {
	background: inherit;
=======
	text-align: center;
}
textarea {
	background: none;
>>>>>>> master
	border: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	width: 180px;
	height: 160px;
<<<<<<< HEAD
=======
	resize: none;
>>>>>>> master
}
